<template lang="pug">
  transition(:name="name" :duration="duration")
    slot
</template>

<script>
export default {
  name: 'vTransition',
  props: {
    name: {
      type: String,
      default: null
    },
    duration: {
      type: Number,
      default: null
    }
  }
}
</script>

<style scoped lang="scss">
.slide-fade-right-enter-active {
  transition: all .3s ease;
}
.slide-fade-right-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-right-enter, .slide-fade-right-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-left-enter-active {
  transition: all .3s ease;
}
.slide-fade-left-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-left-enter, .slide-fade-left-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
.slide-fade-top-enter-active {
  transition: all .3s ease;
}
.slide-fade-top-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-top-enter, .slide-fade-top-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
.slide-fade-bottom-enter-active {
  transition: all .3s ease;
}
.slide-fade-bottom-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-bottom-enter, .slide-fade-bottom-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
