<template lang="pug">
  .card
    slot
</template>

<script>
export default {
  name: 'BtnCard',
  props: {
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped lang="scss">
.card{
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  vertical-align: top;
}
</style>
