<template lang="pug">
  #app
    router-view
</template>

<style lang="scss">
// Colors
$primary: #5264AE;
// Space variables
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 32px;
$xl: 64px;

.text-white{
  color: #fff;
}
.text-primary{
  color: $primary;
}
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
.scroll-area{
  overflow-y: auto;
  overflow-x: hidden;  
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.scroll-area::-webkit-scrollbar {
  width: 10px;
}
.scroll-area::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2); 
}
.scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.3); 
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
// Margin helper classes
// All side
.ma-xs{
  margin: $xs;
}
.ma-sm{
  margin: $sm;
}
.ma-md{
  margin: $md;
}
.ma-lg{
  margin: $lg;
}
.ma-xl{
  margin: $xl;
}
.ma-xs{
  margin: $xs;
}
.ma-sm{
  margin: $sm;
}
.ma-md{
  margin: $md;
}
.ma-lg{
  margin: $lg;
}
.ma-xl{
  margin: $xl;
}
// Margin helper classes
// X sides
.mx-xs{
  margin-left: $xs;
  margin-right: $xs;
}
.mx-sm{
  margin-left: $sm;
  margin-right: $sm;
}
.mx-md{
  margin-left: $md;
  margin-right: $md;
}
.mx-lg{
  margin-left: $lg;
  margin-right: $lg;
}
.mx-xl{
  margin-left: $xl;
  margin-right: $xl;
}
// Margin helper classes
// Y sides
.my-xs{
  margin-top: $xs;
  margin-bottom: $xs;
}
.my-sm{
  margin-top: $sm;
  margin-bottom: $sm;
}
.my-md{
  margin-top: $md;
  margin-bottom: $md;
}
.my-lg{
  margin-top: $lg;
  margin-bottom: $lg;
}
.my-xl{
  margin-top: $xl;
  margin-bottom: $xl;
}
// Padding helper classes
// All sides
.pa-xs{
  padding: $xs;
}
.pa-sm{
  padding: $sm;
}
.pa-md{
  padding: $md;
}
.pa-lg{
  padding: $lg;
}
.pa-xl{
  padding: $xl;
}
.pa-xs{
  padding: $xs;
}
.pa-sm{
  padding: $sm;
}
.pa-md{
  padding: $md;
}
.pa-lg{
  padding: $lg;
}
.pa-xl{
  padding: $xl;
}
// Padding helper classes
// X sides
.px-xs{
  padding-left: $xs;
  padding-right: $xs;
}
.px-sm{
  padding-left: $sm;
  padding-right: $sm;
}
.px-md{
  padding-left: $md;
  padding-right: $md;
}
.px-lg{
  padding-left: $lg;
  padding-right: $lg;
}
.px-xl{
  padding-left: $xl;
  padding-right: $xl;
}
// Padding helper classes
// Y sides
.py-xs{
  padding-top: $xs;
  padding-bottom: $xs;
}
.py-sm{
  padding-top: $sm;
  padding-bottom: $sm;
}
.py-md{
  padding-top: $md;
  padding-bottom: $md;
}
.py-lg{
  padding-top: $lg;
  padding-bottom: $lg;
}
.py-xl{
  padding-top: $xl;
  padding-bottom: $xl;
}
// Columns helper classes
.col-xs-12, .full-width {
  width: 100%;
}
@media (min-width: 992px) {
  .col-2 {
    width: 16.66666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .offset-10 {
    margin-left: 83.33333333%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-8 {
    margin-left: 66.66666667%;
  }
  .offset-7 {
    margin-left: 58.33333333%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-5 {
    margin-left: 41.66666667%;
  }
  .offset-4 {
    margin-left: 33.33333333%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-2 {
    margin-left: 16.66666667%;
  }
  .offset-1 {
    margin-left: 8.33333333%;
  }
}
</style>
