<template lang="pug">
  .profile.row.pa-md
    vue-headful(:title="pageTitle")
    card.col-4.offset-4.col-xs-12(v-if="userData")
      card-main Perfil
      card-main
        item
          item-main
            v-input(label="Nome" v-model="userData.name" @input="input")
          item-main
            v-input(label="Sobrenome" v-model="userData.surname" @input="input")
        item
          item-main
            v-input(label="Email" errorLabel="seu email parece estar errado. Ex: nome@email.com" v-model="userData.email" validate="email" @input="input" clearable)
        item
          item-main
            v-input(label="CPF"
            mask="###.###.###-##"
            helper="O CPF é usado para garantir sua segurança."
            v-model="userData.cpf"
            @input="input")
        item
          item-main
            v-input(label="Telefone" mask="(##) #####-####" v-model="userData.phone" @input="input")
        item
          item-main
            v-input(label="Usuário" v-model="userData.nickname" @input="input")
          item-main
            v-input(label="Nova senha" type="password" v-model="newPassword" password @input="input")
        btn.full-width.no-shadow(label="Salvar" color="#22a922" text-color="white" @click.native="saveUser()")
      notify(v-model="notify.activated" persist :color="notify.color" :label="notify.label")  
</template>

<script>
import cloneDeep from 'lodash.clonedeep'
import notifyMixin from '../components/mixins/notify.mixin'
export default {
  name: 'Profile',
  components: {
  },
  mixins: [notifyMixin],
  data () {
    return {
      loadUser: false,
      newPassword: '',
      notifySuccess: false,
      notifyError: false,
      notifyErrorMessage: '',
    }
  },
  computed: {
    // Load user data from store
    userData () {
      let user = null
      if (this.$store.getters['getUser'] !== null) {
        user = this.$store.getters['getUser']
      }
      return user
    },
    // Set page title with user name
    pageTitle () {
      if (this.userData) {
        return this.userData.name + ' ' + this.userData.surname + '| Reales Rent'
      } else {
        return 'Perfil | Reales Rent'
      }
    }
  },
  methods: {
    input (val) {
      return val
    },
    // Send user to api service
    async saveUser () {
      let payload = cloneDeep(this.userData)
      // set new password
      let id = payload._id
      let etag = payload._etag
      // remove meta fields
      delete payload._id
      delete payload._etag
      delete payload._created
      delete payload._updated
      delete payload._deleted
      let headers = {
        'If-Match': etag
      }
      if (this.newPassword !== '') {
        headers['pswdtk'] = this.newPassword
      }
      try {
        let response = await this.$axios.patch(`/user/admin/${id}`, payload, { headers: headers })
        // updata user with etag for future updates
        this.userData._etag = response.data._etag
        this.$store.commit('updateUser', this.userData)
        this.newPassword = ''
        this.setPositiveNotify('Informações salvas com sucesso!')
      } catch (error) {
        this.setNegativeNotify('Erro ao salvar informações!')
      }
    }
  }
}
</script>
