<template lang="pug">
  .signup.row.pa-md
    vue-headful(title="Cadastrar | Reales Rent")
    card.col-4.offset-4.col-xs-12
      card-main Cadastrar
      card-main
        item
          item-main
            v-input(
              label="Nome"
              v-model="user.name"
              @input="input"
              :validate="hasError ? 'isEmpty' : null"
              errorLabel="Campo obrigatório")
          item-main
            v-input(
              label="Sobrenome"
              v-model="user.surname"
              @input="input"
              :validate="hasError ? 'isEmpty' : null"
              errorLabel="Campo obrigatório")
        item
          item-main
            v-input(
              label="Email"
              errorLabel="seu email parece estar errado. Ex: nome@email.com"
              v-model="user.email"
              :validate="hasError || user.email !== '' ? 'email' : null"
              @input="input"
              clearable)
        item
          item-main
            v-input(label="CPF"
            mask="###.###.###-##"
            helper="O CPF é usado para garantir sua segurança."
            v-model="user.cpf"
            @input="input"
            :validate="hasError ? 'isEmpty' : null"
            errorLabel="Campo obrigatório")
        item
          item-main
            v-input(label="Telefone"
            mask="(##) #####-####"
            v-model="user.phone"
            @input="input")
        item
          item-main
            v-input(
              label="Usuário"
              v-model="user.nickname"
              @input="input"
              :validate="hasError ? 'isEmpty' : null"
              errorLabel="Campo obrigatório")
          item-main
            v-input(
              label="Senha"
              type="password"
              v-model="user.auth.password"
              password
              @input="input"
              :validate="hasError ? 'isEmpty' : null"
              errorLabel="Campo obrigatório")
        btn.full-width.no-shadow(label="Cadastrar" color="#22a922" text-color="white" @click.native="register()")
    .row.pa-md
      .col-4.offset-4.col-xs-12
        btn(color="white"
          label="Já tenho cadastro"
          flat
          path="/entrar")
    notify(v-model="notify.activated" persist :color="notify.color" :label="notify.label")
      btn.mx-md(flat color="white" v-if="notify.activated && notify.color === 'success'" path="/entrar") Entrar
</template>

<script>
import notifyMixin from '../components/mixins/notify.mixin'
export default {
  name: 'SignUp',
  components: {
  },
  mixins: [notifyMixin],
  data () {
    return {
      user: {
        name: '',
        surname: '',
        email: '',
        cpf: '',
        phone: '',
        nickname: '',
        auth: {
          password: ''
        }
      },
      notifySuccess: false,
      notifyError: false,
      notifyErrorMessage: '',
      hasError: false
    }
  },
  methods: {
    input (val) {
      return val
    },
    async register () {
      let userData = this.user
      try {
        let response = await this.$axios.post('/auth/admin', userData)
        if (response.data) {
          this.clearForm()
          this.hasError = false
          this.setPositiveNotify('Usuário cadastrado com sucesso!')
        }
      } catch (e) {
        // Show error based on response
        if (e.message === 'Request failed with status code 422') {
          this.setNegativeNotify('Ocorreu um erro. Verifique se você preencheu todos os campos.')
        } else {
          this.setNegativeNotify('Ocorreu um erro desconhecido. Tente novamente mais tarde!')
        }
      }
    },
    clearForm () {
      this.user = {
        name: '',
        surname: '',
        email: '',
        cpf: '',
        phone: '',
        nickname: '',
        auth: {
          password: ''
        }
      }
    }
  }
}
</script>
<style scoped lang="scss">
</style>
