<template lang="pug">
  .scroll-area
    slot.pa-md
</template>

<script>
export default {
  name: 'ScrollArea',
  components: {
  },
  data () {
    return {
    }
  },
  props: {
  },
  created () {
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">
.scroll-area{
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.scroll-area::-webkit-scrollbar {
  width: 10px;
}
.scroll-area::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2); 
}
.scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.3); 
}
</style>
