<template lang="pug">
.layout  
  navbar
  .page-container.scroll-area
    .content
      router-view
    .footer Reales Rent &copy; 2019
</template>

<script>
import navbar from '../components/ui/nav/Navbar'

export default {
  name: 'LayoutDefault',
  components: {
    navbar
  },
  data () {
    return {
    }
  },
  created () {
  },
  methods: {
  }
}
</script>
<style scoped lang="scss">
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.content{
  min-height: calc(100vh - 52px);
  padding: 16px;
  width: calc(100vq - 32px);;
}
.footer{
  padding: 16px;
  background: #333;
  font-size: .9em;
  color: #999;
}
.page-container{
  height: calc(100vh - 52px);
  margin-top: 52px;
}
.layout{
  background-color: #666;
}
</style>
